@page "/"

<h1>Bienvenido...</h1>

Puedes revisar nuestro catalogo de productos.

<SurveyPrompt Title="Tenemos una gran lista de consolas y juegos" />
<body>
    <div>
        <img src="https://as01.epimg.net/meristation/imagenes/2020/04/02/reportajes/1585827262_738686_1585828038_noticia_normal.jpg" width="800" height="500"/>
        <br />
    </div>
</body>