@page "/ProductoAdd"
@using Data.Model
@using Data.Services

@inject IFacProductoService FacProductoService
@inject NavigationManager NavigationManager
@inject IJSRuntime js

<RadzenTemplateForm Data="@producto">
    <div class="row">
        <div class="col-12"> 
                <RadzenFieldset Text="Ingreso de productos">
                            <div class="row">
                                <div class="col-md-2 align-items-center d-flex">
                                    <RadzenLabel Text="Producto" />
                                </div>
                                <div class=" col-md-6 fieldSpace">
                                    <RadzenTextBox Name="Producto" Style="width:100%" @bind-Value="producto.NOMBRE" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 align-items-center d-flex">
                                    <RadzenLabel Text="Descrición" />
                                </div>
                                <div class=" col-md-6 fieldSpace">
                                    <RadzenTextBox Name="Descripcion" Style="width:100%" @bind-Value="producto.DESCRIPCION" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 align-items-center d-flex">
                                    <RadzenLabel Text="Imagen" />
                                </div>
                                <div class=" col-md-6 fieldSpace">
                                    <RadzenTextBox Name="Foto" Style="width:100%" @bind-Value="producto.FOTO" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 align-items-center d-flex">
                                    <RadzenLabel Text="Precio" />
                                </div>
                                <div class=" col-md-6 fieldSpace">
                                    <RadzenNumeric Name="Precio" Style="width:100%" @bind-Value="producto.PRECIO" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 align-items-center d-flex">
                                    <RadzenLabel Text="Stock" />
                                </div>
                                <div class=" col-md-6 fieldSpace">
                                    <RadzenNumeric Name="Stock" Style="width:100%" @bind-Value="producto.STOCK" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 align-items-center d-flex" />
                                <div class=" col-md-6 fieldSpace">
                                    <RadzenButton Text="Agregar" ButtonStyle="ButtonStyle.Success" Click=@(args => FacProductoInsert()) />
                                    <RadzenButton Text="Cancelar" ButtonStyle="ButtonStyle.Danger" Click=@(args => Cancel()) />
                                </div>
                            </div>
                </RadzenFieldset>
        </div>
    </div>
</RadzenTemplateForm>


<br />
<h1>Productos en bodega</h1>
<h6 style="color:grey">Listado de productos existentes...</h6>
    @if (productos == null)
    {
        <p><em>Cargando...</em></p>
    }
    else
    {
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4" AllowSorting="true"
                    Data="@productos" TItem="FacProducto" ColumnWidth="100px">

            <Columns>
                <RadzenGridColumn TItem="FacProducto" Property="NOMBRE" Title="Nombre" />
                <RadzenGridColumn TItem="FacProducto" Property="DESCRIPCION" Title="Descripción" />
                <RadzenGridColumn TItem="FacProducto" Property="FOTO" Title="Foto" />
                <RadzenGridColumn TItem="FacProducto" Property="PRECIO" Title="Precio" Width="60px"/>
                <RadzenGridColumn TItem="FacProducto" Property="STOCK" Title="Stock" Width="50px"/>
                <RadzenGridColumn TItem="FacProducto" Title="Editar" Width="50px">
                    <Template Context="data">
                        <RadzenLink Path="/" Text="Editar"/>
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="FacProducto" Title="Eliminar" Width="60px">
                    <Template Context="data">
                        <RadzenLink Path="/" Text="Eliminar"/>
                    </Template>
                </RadzenGridColumn>
            </Columns>

        </RadzenGrid>
    }

@code {
    FacProducto producto = new FacProducto();
    protected async Task FacProductoInsert()
    {
        await js.InvokeVoidAsync("confirm","¡Producto guardado correctamente!");
        await FacProductoService.FacProductoInsert(producto);
        NavigationManager.NavigateTo("/ProductoAdd");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }

    private IEnumerable<FacProducto> productos;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            productos = await FacProductoService.ListarProductos();
        }
        catch (Exception)
        {

            throw;
        }
    }

    protected async Task FacProductoDelete()
    {
        await js.InvokeVoidAsync("confirm", "¡Producto Eliminado correctamente!");
        NavigationManager.NavigateTo("/ProductoAdd");
    }
}

