<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Mega Play</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ProductoAdd">
                <span class="oi oi-monitor" aria-hidden="true"></span> Productos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Clientes">
                <span class="oi oi-person" aria-hidden="true"></span> Clientes
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="SendMail">
                <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span> Enviar oferta
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CrearDescuentos">
                <span class="oi oi-dollar" aria-hidden="true"></span> Crear descuentos
            </NavLink>
        </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
