<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Revisa nuestros juegos, 
        <a target="_blank" class="font-weight-bold" href="https://listado.mercadolibre.com.co/juegos-de-play-5#D[A:juegos%20de%20play%205]">Catálogo completo</a>
        
    </span>
    Gracias por ingresasr.
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
